body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
}

nav{
    padding-right: 6vw;
    padding-left: 6vw;
    height: 13%;
    display: flex;    
    justify-content: space-between;
    padding-bottom: -20px;
    align-items: center;

}

ul{
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;;
    align-items: center;
    height: 10%;
}

ul li{
    margin-right: 2vw;
}

header {

    width: 100%;
    height: 75vh;
    position: relative;
    overflow: hidden;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

a{
    text-decoration: none;
    color:white;
}

hr{
    color: black;
    width: 88%;
    margin-bottom: 25%;
}

#hero h1{
    padding-left: 6vw;
    color:white;
    font-size: 2.5vw;
    font-weight: 200;
}

#btn{
    padding: 20px 40px;
    background-color: rgb(25,82,176);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 6vw;
}

#FIND{
    font-size: 3vw;
    text-align: center;
    color: black;;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem 6vw;
  gap: 3vw;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  text-align: center;
}

.cards img{
    width: 50%;
}

#btn2{
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.c1{
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0, 0, 0, 0), rgba(0,0,0,0)), url(images/1.webp);
}

h3{
    color: white;
    font-size: 3vw;
    text-align: left;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 6vw;
    padding-top: 32vh;
    line-height: 10px;
}

h5{
    color: white;
    font-size: 1.5vw;
    text-align: left;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 6vw;
    line-height: 8px;
}

#btn3{
    padding: 15px 60px;
    background: none;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 6vw;
    margin-bottom: 10px;
}

.c2{
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0, 0, 0, 0), rgba(0,0,0,0)), url(images/2.webp);
}

.c3{
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0, 0, 0, 0), rgba(0,0,0,0)), url(images/3.webp);
}

.c4{
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0, 0, 0, 0), rgba(0,0,0,0)), url(images/4.webp);

}

#LAST{
    display: inline-flex;
    align-items:center;
    justify-content:center;
    
}

#LAST img{
    padding-top: 6vh;
    padding-left: 6vw;
    width: 100vh;
    height: auto;
    object-fit: cover;
}

.h2{
    padding-left: 6vw;
    color: black;
    font-size: 3vw;
    font-weight: 200;
    margin-top: 4vh;
}